@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'League Spartan', sans-serif;
}

ul li {
    list-style: none;
    display: inline;
}

.featured-job {
    transition-duration: 200ms;
    box-shadow: inset 5px 0px 0px 0px #5da5a4;
}

.seperator:first-child::after,
.seperator:nth-child(2)::after,
.seperator:not(:last-child):after {
    margin-left: 5px;
    content: " \2022";
}